{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Surf Point Dewata Forecast History API</title>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      class="nav-item"
      nk
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <!-- CSS -->
    <link
      class="nav-item"
      nk
      rel="stylesheet"
      href="{% static 'style.css' %}"
    />
  </head>
  <body>
    <div class="conteiner-fluid mx-4">
      <div class="row my-1">
        <div class="col-sm-12 mt-20 mb-10">
          <h2>
            Surf Point 'Dewata' Forecast History API from
            https://www.surf-forecast.com
          </h2>
        </div>
      </div>
      <div class="row my-1">
        <div class="col-12 mb-10">
          <!-- Tabs -->
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button
              class="nav-link active"
              id="nav-dewata-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-dewata"
              type="button"
              role="tab"
              aria-controls="nav-dewata"
              aria-selected="true"
            >
              Dewata
            </button>
            <button
              class="nav-link disabled"
              id="nav-disabled-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-disabled"
              type="button"
              role="tab"
              aria-controls="nav-disabled"
              aria-selected="false"
              aria-disabled="true"
            >
              Disabled
            </button>
          </div>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-dewata"
              role="tabpanel"
              aria-labelledby="nav-dewata-tab"
            >
              <div class="container-sm">
                <form action="{% url 'crawl' %}" method="post">
                  {% csrf_token %}
                  <input
                    readonly
                    hidden
                    type="text"
                    name="site"
                    value="surf-forecast.com"
                  />
                  <div class="row">
                    <label class="col-sm-1 col-form-label">URL:</label>
                    <div class="col-sm-11 my-auto">
                      <input
                        type="url"
                        id="input_url_id"
                        required
                        name="url"
                        value="https://www.surf-forecast.com/breaks/Dewata/forecasts/latest"
                      />
                    </div>
                    <div class="col-3 justify-content-start">
                      <input
                        class="btn btn-primary justify-content-center my-1 mx-auto"
                        type="submit"
                        value="Collect"
                        id="collect_btn_id"
                      />
                    </div>
                  </div>
                </form>
                <br />
                <div class="col-sm-12 col-md-6 mb-10" id="output_id"></div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="nav-disabled"
              role="tabpanel"
              aria-labelledby="nav-disabled-tab"
            ></div>
          </div>
        </div>
      </div>

      <div class="row my-1">
        <div class="col-sm-12 col-md-6 mb-10">How to use this application!</div>
      </div>
      <div class="row my-1">
        <div class="col-sm-12 mt-20 mb-10">
          <h5>Recent data. Last update: {{ last_update }}</h5>

          <table class="table table-sm table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Swell height, m</th>
                <th scope="col">Swell period, s</th>
              </tr>
            </thead>

            <tbody>
              {% for row in last_data %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ row.date }}</td>
                <td>{{ row.time }}</td>
                <td>{{ row.swell1_height }}</td>
                <td>{{ row.swell1_period }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="{% static 'index.js' %}"></script>
